<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BSV Search Results</title>
</head>
<body>
  <h1>BSV Search Results</h1>
    {{range .Verses}}
    <p>{{.Content}}</p><br>
    {{end}}
</body>
<html>
